table{
    border: 2px;
    width: 85%;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
tr:nth-child(even){
    background-color: aqua;
}
tr:nth-child(odd){
    background-color: lightblue;
}
tr:hover{
    background-color: white;
}